    <h1>Help</h1>
    <p>
      Get help on the Ruby on Rails Tutorial at the
      <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
      To get help on this sample app, see the
      <i class="icon-ok-circle"></i>
      <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
    </p>
    <span class="label label-info">Heads up!</span>
  </body>
</html>
